In [1]:
import pandas as pd
import pipeline as p
import datetime as dt

%load_ext autoreload
%autoreload 2

## Merge Dict

In [3]:
merge_dict = p.open_pkl('Data/OldData/merge_dict.pkl')

In [4]:
merge_dict

defaultdict(list,
            {2018: ['NOR',
              'OAK',
              'STL',
              'ARI',
              'TAM',
              'CLE',
              'DET',
              'DAL',
              'IND',
              'MIA',
              'WAS',
              'SDG',
              'PIT',
              'ATL',
              'BAL',
              'NWE',
              'BUF',
              'SEA',
              'NYG',
              'KAN',
              'GNB',
              'SFO',
              'CHI',
              'CIN',
              'MIN',
              'NYJ',
              'DEN',
              'HOU',
              'JAX',
              'CAR',
              'PHI',
              'TEN']})

In [5]:
merge_dict_2018 = p.open_pkl('Data/OldData/merge_dict_2018.pkl')

In [7]:
merge_dict_2018

defaultdict(list,
            {2018: ['NOR',
              'OAK',
              'STL',
              'ARI',
              'TAM',
              'CLE',
              'DET',
              'DAL',
              'IND',
              'MIA',
              'WAS',
              'SDG',
              'PIT',
              'ATL',
              'BAL',
              'NWE',
              'BUF',
              'SEA',
              'NYG',
              'KAN',
              'GNB',
              'SFO',
              'CHI',
              'CIN',
              'MIN',
              'NYJ',
              'DEN',
              'HOU',
              'JAX',
              'CAR',
              'PHI',
              'TEN']})

There are the same, and only include 2018. I think this became implemented after it would have been used as a tracking mechanism

## Master DF

In [8]:
master_df = p.open_pkl('Data/OldData/master_df.pkl')

In [9]:
master_df.head()

,1stD-O,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,Result,RushY,TO,TO-D,Team,Time,TotY,Week,Year,Date
0,20.0,Sun,@,NaN,Miami Dolphins,226.0,33.0,20.0,0-1,L,89.0,2.0,3.0,NWE,13:03:00,315.0,1,2014,2014-09-07
1,16.0,Sun,@,NaN,Minnesota Vikings,142.0,7.0,30.0,1-1,W,150.0,NaN,4.0,NWE,13:05:00,292.0,2,2014,2014-09-14
2,21.0,Sun,NaN,NaN,Oakland Raiders,221.0,9.0,16.0,2-1,W,76.0,NaN,1.0,NWE,13:02:00,297.0,3,2014,2014-09-21
3,13.0,Mon,@,NaN,Kansas City Chiefs,215.0,41.0,14.0,2-2,L,75.0,3.0,NaN,NWE,20:31:00,290.0,4,2014,2014-09-29
4,30.0,Sun,NaN,NaN,Cincinnati Bengals,285.0,17.0,43.0,3-2,W,220.0,NaN,3.0,NWE,20:43:00,505.0,5,2014,2014-10-05

In [32]:
master_df.tail()

,1stD-O,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,Result,RushY,TO,TO-D,Team,Time,TotY,Week,Year,Date
5869,31.0,Sun,NaN,NaN,Baltimore Ravens,486.0,38.0,39.0,11-2,W,59.0,NaN,1.0,PIT,20:30:00,545.0,14,2017,2017-12-10
5870,21.0,Sun,NaN,NaN,New England Patriots,270.0,27.0,24.0,11-3,L,143.0,1.0,1.0,PIT,16:25:00,413.0,15,2017,2017-12-17
5871,20.0,Mon,@,NaN,Houston Texans,226.0,6.0,34.0,12-3,W,104.0,NaN,2.0,PIT,16:30:00,330.0,16,2017,2017-12-25
5872,20.0,Sun,NaN,NaN,Cleveland Browns,224.0,24.0,28.0,13-3,W,124.0,2.0,2.0,PIT,13:00:00,348.0,17,2017,2017-12-31
5873,28.0,Sun,NaN,NaN,Jacksonville Jaguars,462.0,45.0,42.0,13-4,L,83.0,2.0,NaN,PIT,13:05:00,545.0,19,2017,2018-01-14

In [10]:
len(master_df)

5874

Appears to be complete only through end of 2017 season, and only includes "Season" data from Team-Year page

### 2018 Master DFs

In [28]:
master_df_2018_old = p.open_pkl('Data/OldData/master_df_2018.pkl')

In [29]:
master_df_2018_old.head()

,1stD-O,Date,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,Result,RushY,TO,TO-D,Team,Time,TotY,Week,Year,bs
0,26.0,September 9,Sun,NaN,NaN,Tampa Bay Buccaneers,432.0,48.0,40.0,0-1,L,43.0,2.0,NaN,NOR,1:00PM ET,475.0,1,2018,boxscore
1,18.0,September 16,Sun,NaN,NaN,Cleveland Browns,213.0,18.0,21.0,1-1,W,62.0,2.0,1.0,NOR,1:00PM ET,275.0,2,2018,boxscore
2,32.0,September 23,Sun,@,OT,Atlanta Falcons,391.0,37.0,43.0,2-1,W,143.0,NaN,NaN,NOR,1:00PM ET,534.0,3,2018,boxscore
3,25.0,September 30,Sun,@,NaN,New York Giants,219.0,18.0,33.0,3-1,W,170.0,NaN,2.0,NOR,4:25PM ET,389.0,4,2018,boxscore
4,27.0,October 8,Mon,NaN,NaN,Washington Redskins,349.0,19.0,43.0,4-1,W,98.0,1.0,2.0,NOR,8:15PM ET,447.0,5,2018,boxscore

In [30]:
master_df_2018_old.tail()

,1stD-O,Date,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,Result,RushY,TO,TO-D,Team,Time,TotY,Week,Year,bs
507,NaN,December 2,Sun,NaN,NaN,New York Jets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,4:05PM ET,NaN,13,2018,preview
508,NaN,December 6,Thu,NaN,NaN,Jacksonville Jaguars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,8:20PM ET,NaN,14,2018,preview
509,NaN,December 16,Sun,@,NaN,New York Giants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,1:00PM ET,NaN,15,2018,preview
510,NaN,December 23,Sun,NaN,NaN,Washington Redskins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,1:00PM ET,NaN,16,2018,preview
511,NaN,December 30,Sun,NaN,NaN,Indianapolis Colts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEN,1:00PM ET,NaN,17,2018,preview

In [31]:
len(master_df_2018_old)

512

In [24]:
master_df_2018 = p.open_pkl('Data/master_df_2018.pkl')

In [25]:
master_df_2018.head()

,1stD-O,Date,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,Result,RushY,TO,TO-D,Team,Time,TotY,Week,Year,bs
0,26.0,September 9,Sun,NaN,NaN,Tampa Bay Buccaneers,432.0,48.0,40.0,0-1,L,43.0,2.0,NaN,NOR,1:00PM ET,475.0,1,2018,boxscore
1,18.0,September 16,Sun,NaN,NaN,Cleveland Browns,213.0,18.0,21.0,1-1,W,62.0,2.0,1.0,NOR,1:00PM ET,275.0,2,2018,boxscore
2,32.0,September 23,Sun,@,OT,Atlanta Falcons,391.0,37.0,43.0,2-1,W,143.0,NaN,NaN,NOR,1:00PM ET,534.0,3,2018,boxscore
3,25.0,September 30,Sun,@,NaN,New York Giants,219.0,18.0,33.0,3-1,W,170.0,NaN,2.0,NOR,4:25PM ET,389.0,4,2018,boxscore
4,27.0,October 8,Mon,NaN,NaN,Washington Redskins,349.0,19.0,43.0,4-1,W,98.0,1.0,2.0,NOR,8:15PM ET,447.0,5,2018,boxscore

In [26]:
len(master_df_2018)

520

Use the "new" one -- merge with master_df to create season data df

## Merged DF

In [33]:
merged_df = p.open_pkl('Data/OldData/merged_df.pkl')

In [34]:
merged_df.head()

,1stD,Date,Day,Location,OT,Opp,PassY,PtsOpp,PtsTm,Record,...,PassAtt,PassTDs,INT,SacksO,Fumbles,Penalies,PenY,3rdDConv,3rdDAtt,4thDAtt
0,20.0,2014-09-07,Sun,@,NaN,Miami Dolphins,226.0,33.0,20.0,0-1,...,56.0,1.0,0.0,4.0,3.0,9.0,100.0,5.0,17.0,4.0
1,16.0,2014-09-14,Sun,@,NaN,Minnesota Vikings,142.0,7.0,30.0,1-1,...,21.0,1.0,0.0,1.0,1.0,15.0,163.0,5.0,14.0,1.0
2,21.0,2014-09-21,Sun,NaN,NaN,Oakland Raiders,221.0,9.0,16.0,2-1,...,37.0,1.0,0.0,2.0,1.0,6.0,59.0,9.0,18.0,1.0
3,13.0,2014-09-29,Mon,@,NaN,Kansas City Chiefs,215.0,41.0,14.0,2-2,...,30.0,2.0,2.0,3.0,2.0,3.0,30.0,2.0,9.0,0.0
4,30.0,2014-10-05,Sun,NaN,NaN,Cincinnati Bengals,285.0,17.0,43.0,3-2,...,35.0,2.0,0.0,1.0,1.0,12.0,114.0,6.0,16.0,1.0

In [35]:
len(merged_df)

5874

Season & Boxscore data

### Season DFs

In [37]:
buf_df = p.open_pkl('Data/SeasonDfs/season_BUF-2018.pkl')

In [38]:
buf_df.head()

,Week,Day,Date,Time,bs,Result,OT,Record,Location,Opp,PtsTm,PtsOpp,1stD-O,TotY,PassY,RushY,TO,TO-D,Team,Year
0,1,Sun,September 9,1:00PM ET,boxscore,L,NaN,0-1,@,Baltimore Ravens,3.0,47.0,10.0,153.0,70.0,83.0,2.0,1.0,BUF,2018
1,2,Sun,September 16,1:00PM ET,boxscore,L,NaN,0-2,NaN,Los Angeles Chargers,20.0,31.0,17.0,293.0,209.0,84.0,2.0,NaN,BUF,2018
2,3,Sun,September 23,1:00PM ET,boxscore,W,NaN,1-2,@,Minnesota Vikings,27.0,6.0,16.0,292.0,164.0,128.0,NaN,3.0,BUF,2018
3,4,Sun,September 30,1:00PM ET,boxscore,L,NaN,1-3,@,Green Bay Packers,0.0,22.0,11.0,145.0,87.0,58.0,3.0,2.0,BUF,2018
4,5,Sun,October 7,1:00PM ET,boxscore,W,NaN,2-3,NaN,Tennessee Titans,13.0,12.0,18.0,223.0,79.0,144.0,1.0,3.0,BUF,2018

In [39]:
len(buf_df)

16